.item-cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
    padding: 40px;
}
.item-card{
    display: flex;
    flex-direction: column;
    background: #ddd;
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    transition: border-color 0.15s, box shadow 0.15s;
    font-family: "roboto", sans-serif;    
}
.item-card_top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-card:hover{
    border-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.item-card_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}
.item-card-img_container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f3f4f6;
}
.item-card_body{
    display:flex;
    flex-direction: column;
    padding: 12px 14px 14px;
    gap: 8px;
    font-family: "roboto", sans-serif;    
}
.item-card_category{
    font-size: 11px;
    font-weight: 500;
    color: #111827;
    border-radius: 20px;
    align-self: flex-start;
    font-style: italic;
    font-family: "roboto", sans-serif;    
}
.item-card_name{
    font-size: 16px;
    font-weight: 600;
    color: #111827;
    margin: 0;
    font-family: "roboto", sans-serif;    
}
.item-card_price{
    font-size: 16px;
    font-weight: 650;
    text-align: right;
    color: #111827;
    margin: 0;
    font-family: "roboto", sans-serif;    
}
.item-card_counter-btn{
    display: flex;
    justify-content: center;
    align-Items: center;
    gap: 0;
}
.item-card_counter-qty{
    display: inline-block;
    min-width: 48px;
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: black;
}