.form-row{
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}
.form-group{
    margin-bottom: 0;
}
.form-row .form-group{
    flex: 1;
    margin-bottom: 0;
}
.form-group label{
    font-weight: 500;
    margin-bottom: 4px;
    display: block;
}
.form-control{
    border-radius: 6px;
    border: 5px solid #000000;
    padding: 8px 10px;
    font-size: 10px;
    width: 100%;
}
.checkout-success{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}